<header class="header">
    <div class="menu">
        <a href="#" class="menu-btn">
            <img src="../images/components/menu.svg" id="active-logo-no-hover" class="menu-logo" alt="">
            <img src="images/components/menu-hover.svg" id="active-logo-hover" class="menu-logo" alt="">
            <img src="images/components/menu-click.svg" id="active-logo-click" class="menu-logo" alt="">
            <img src="images/components/menu-click-hover.svg" id="active-logo-click-hover" class="menu-logo" alt="">
        </a>
    </div>

    <div class="logo">
        <a href="{% url "homepage" %}">
            <img class="logo-img" src="../images/logo/logo.svg" alt="">
        </a>
    </div>

    <div class="avatar" style="margin-left: 50px;">
        <h4 class="avatar-text">{{ user.get_full_name_header }}</h4>
    </div>
</header>